body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F5C143;
    font-family: 'SourceSans-Regular', sans-serif;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

* {
    position: relative;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TIPOGRAFÍAS */

@font-face {
    font-family: 'Kepler';
    src: url('../fonts/KeplerStdBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kepler';
    src: url('../fonts/KeplerStdRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSans-Bold';
    src: url('../fonts/SourceSans3-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSans-Regular';
    src: url('../fonts/SourceSans3-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.contenedor {
    display: flex;
    justify-content: center;
    width: 100%;
}

.blanc {
    width: 100%;
    max-width: 500px;
    height: 85vh;
    background-color: white;
    position: fixed;
    top: 13%;
    border-radius: 30px 30px 0 0;
    overflow-y: auto;
    z-index: 10;
}

.header-image-container {
    position: relative;
    width: 100vw;
    height: 15vh;
    border-radius: 30px 30px 30px 30px;
    overflow: hidden;
    top: -5%;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.18);
}

.header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.header-title {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: 'Kepler', serif;
    font-size: 23.4px;
    width: 85%;
    text-align: right;
    line-height: 1.1;
    pointer-events: none;
}

/* FOTO CABECERA */

.header-image-container .avatar-item {
    position: absolute !important;
    top: 64% !important;
    left: 8% !important;
    transform: translateY(-50%);
    width: 70px !important;
    z-index: 20;
}

.header-image-container .avatar-circle {
    width: 70px !important;
    height: 70px !important;
    margin-bottom: 0;
    border: 3px solid #F5C143;
}

.header-title {
    width: 60% !important;
    left: 62% !important;
    text-align: left !important;
}

/* ESTILO GRUP (A2) */

.nivel-grup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nivel-grup-container h3 {
    font-family: 'SourceSans-Bold', sans-serif;
    font-size: 18px;
    color: #4C4C4C;
}

.tag-nivel {
    background-color: #F5C143;
    color: black;
    padding: 4px 15px;
    border-radius: 15px;
    font-family: 'SourceSans-Bold', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

/* TAMAÑO RELOG DE ARENA */

.icon-arena {
    width: 1.3rem !important;
    height: auto !important;
    margin-right: 25px !important;
    left: 5px !important;
}

/* INFORMACIO */

.info-content {
    padding: 15px 12%;
    top: -4px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.info-icon {
    width: 30px;
    height: 30%;
    margin-right: 20px;
    flex-shrink: 0;
}

.info-text h3 {
    font-family: 'SourceSans-Bold', sans-serif;
    font-size: 20px;
    color: #4C4C4C;
    margin-bottom: 12px;
}

.info-text p {
    font-family: 'SourceSans-Bold', sans-serif;
    font-size: 18px;
    color: #000;
}

/* SECTIONS */

.section-container {
    margin-bottom: 20px;
}

.section-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.section-icon {
    width: 28px;
    margin-right: 15px;
    flex-shrink: 0;
}

.section-header h3 {
    font-family: 'SourceSans-Bold', sans-serif;
    font-size: 18px;
    color: #4C4C4C;
}

.avatars {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 45px;
}

.avatar-item {
    text-align: center;
    width: 65px;
}

.avatar-circle {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #F5C143;
    margin-bottom: 2px;
    background-color: #eee;
}

.avatar-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-item span {
    font-size: 18px;
    font-family: 'SourceSans-Bold', sans-serif;
    white-space: nowrap;
    color: #767676;
}

.avatar-plus {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    color: #333;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    top: 2px;
}

.button-container {
    margin: -8px 0;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;  
}

/* BOTON CONTINUAR */

.btn-inscriure {
    background-color: #F5C143;
    border: none;
    border-radius: 20px;
    width: 80vw;
    padding: 14px 0;
    font-family: 'SourceSans-Bold', sans-serif;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: block;
    top: 122px;
}

/* BOTON SUPERIOR */

.flecha {
    width: 40px;
    height: 40px;
    background-image: url(../img/flecha-retro.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin: 25px;
    z-index: 1000;
    display: block;
    position: relative;
}

.status-dot {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #F5C143;
    border-radius: 50%;
    margin-left: 5px;
    vertical-align: middle;
}

.status-dot {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    background-color: transparent;
    background-color: #F5C143;
    border-radius: 50%;
    margin-left: 8px;
    vertical-align: middle;
    overflow: hidden;
}

.status-icon {
    width: 65%;
    height: auto;
    display: block;
}

.nivel-grup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: -100px;
    padding: 0 5px;
}

.nivel-grup-container h3 {
    font-family: 'SourceSans-Bold', sans-serif;
    font-size: 20px;
    color: black;
}

.tag-nivel {
    background-color: #F7CE6A;
    color: black;
    padding: 0.6em 1.2em;
    border-radius: 30px;
    font-family: 'SourceSans-Bold', sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    min-width: 4.5em;
}

.btn-inscriure {
    top: 136px !important;
}

/* BARRA MENÚ */

.barra {
    width: 100vw;
    height: 22.8vw;
    background-image: url(../img/fondmenu-grups.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.barra ul {
    width: 90.2vw;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    top: 7vw;
}

.barra li {
    width: 14.15vw;
    height: 14.15vw;
    margin: 1vw;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.barra li a {
    width: 14.15vw;
    height: 14.15vw;
    display: block;
}

.barra li .pannot a {
    width: 18.6vw;
    height: 18.6vw;
}

/* ICONS MENU */

.home {
    background-image: url(../img/home-groc.png);
}

.grups {
    background-image: url(../img/grups-blanc.png);
}

.pannot {
    background-image: url(../img/panot-groc.png);
    height: 18.6vw !important;
    width: 18.6vw !important;
    margin-left: 3.5vw !important;
    margin-right: 3.5vw !important;
    top: -3vw;
}

.recursos {
    background-image: url(../img/recursos-groc.png);
}

.perfil {
    background-image: url(../img/perfil-groc.png);
}

/* VINCULOS */

/* Pagina 2 - Grups */
#pg2grups .barra { background-image: url(../img/fondmenu-grups.png); }
#pg2grups .home { background-image: url(../img/home-groc.png); }
#pg2grups .grups { background-image: url(../img/grups-blanc.png); }

/* Pagina 3 - Panot */
#pg3panot .barra { background-image: url(../img/fondmenu-panot.png); }
#pg3panot .home { background-image: url(../img/home-groc.png); }
#pg3panot .pannot { background-image: url(../img/panot-blanc.png); }

/* Pagina 4 - Recursos */
#pg4recursos .barra { background-image: url(../img/fondmenu-recursos.png); }
#pg4recursos .home { background-image: url(../img/home-groc.png); }
#pg4recursos .recursos { background-image: url(../img/recursos-blanc.png); }

/* Pagina 5 - Perfil */
#pg5perfil .barra { background-image: url(../img/fondmenu-perfil.png); }
#pg5perfil .home { background-image: url(../img/home-groc.png); }
#pg5perfil .perfil { background-image: url(../img/perfil-blanc.png); }