/* TIPOGRAFÍAS */

@font-face {
  font-family: 'Kepler';
  src: url('../fonts/KeplerStdBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kepler';
  src: url('../fonts/KeplerStdRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSans-Bold';
  src: url('../fonts/SourceSans3-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSans-Regular';
  src: url('../fonts/SourceSans3-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
  background-color: #F5C143;
  font-family: 'SourceSans-Regular', sans-serif;
}

* {
  position: relative;
  box-sizing: border-box;
}

/* CABECERA */

.cabecera {
  height: 80px;
  padding: 0 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 30px;
}

span {
  font-size: 36px;
  color: black;
  font-family: 'Kepler', serif;
  font-weight: bold;
}

.gancho {
  width: 45px;
  height: 45px;
  background-image: url('../img/icon-ropa.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

.contenedor-chat {
  background-color: #FFFDF1;
  border-radius: 40px 40px 0 0;
  margin-top: 40px;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5vh 6vw 15vh 6vw;
  z-index: 1;
}

.nube-sessio {
  width: 100vw;
  height: 100vh;
  max-width: 90vw;
  height: auto;
  margin: 0 auto;
  min-height: 290px;
  background-image: url('../img/nube-sessio.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 60px 80px 60px;
  margin-top: -2vh;
}

.nube-sessio p {
  font-family: 'Kepler-Regular', serif;
  font-size: 28px;
  color: #A0A0A0;
  text-align: center;
  margin: 0;
}

.personaje-panot {
  width: 100vw;
  height: 100vh;
  max-width: 400px;
  margin-top: -10vh;
  margin-bottom: -5vh;
  z-index: 2;
}

.personaje-panot img {
  width: 100%;
  height: auto;
}

.buscador-inferior {
  width: 100%;
  max-width: 85vw;
  margin-top: 0;
  position: absolute;
  bottom: 15vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.buscador-inferior input {
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 20px 25px;
  font-family: 'SourceSans-Regular', sans-serif;
  font-size: 20px;
  color: #888;
  background-color: white;
  box-shadow: inset 0px 4px 10px rgba(0,0,0,0.1); 
  outline: none;
  opacity: 85%;
}

/* BARRA MENÚ */

.barra {
  width: 100vw;
  height: 22.8vw;
  background-image: url(../img/fondmenu-panot.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  bottom: -5px;
  left: 0;
  right: 0;
  z-index: 9999;
}

.barra ul {
  width: 90.2vw;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  top: 7vw;
}

.barra li {
  width: 14.15vw;
  height: 14.15vw;
  margin: 1vw;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}

.barra li a {
  width: 14.15vw;
  height: 14.15vw;
  display: block;
}

.barra li .pannot a {
  width: 18.6vw;
  height: 18.6vw;
}

/* ICONS MENU */

.home { background-image: url(../img/home-groc.png);
}

.grups { background-image: url(../img/grups-groc.png);
}

.pannot {
  background-image: url(../img/panot-blanc.png);
  height: 18.6vw !important;
  width: 18.6vw !important;
  margin-left: 3.5vw !important;
  margin-right: 3.5vw !important;
  top: -5vw;
}

.recursos { background-image: url(../img/recursos-groc.png);
}

.perfil { background-image: url(../img/perfil-groc.png);
}

/* VINCULOS PÁGINAS */

#pg2grups .barra { background-image: url(../img/fondmenu-grups.png); }
#pg2grups .home { background-image: url(../img/home-groc.png); }
#pg2grups .grups { background-image: url(../img/grups-blanc.png); }

#pg3panot .barra { background-image: url(../img/fondmenu-panot.png); }
#pg3panot .home { background-image: url(../img/home-groc.png); }
#pg3panot .pannot { background-image: url(../img/panot-blanc.png); }

#pg4recursos .barra { background-image: url(../img/fondmenu-recursos.png); }
#pg4recursos .home { background-image: url(../img/home-groc.png); }
#pg4recursos .recursos { background-image: url(../img/recursos-blanc.png); }

#pg5perfil .barra { background-image: url(../img/fondmenu-perfil.png); }
#pg5perfil .home { background-image: url(../img/home-groc.png); }
#pg5perfil .perfil { background-image: url(../img/perfil-blanc.png); }