
/* TIPOGRAFÍAS */

@font-face {
  font-family: 'Kepler';
  src: url('../fonts/KeplerStdBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kepler';
  src: url('../fonts/KeplerStdRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSans-Bold';
  src: url('../fonts/SourceSans3-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSans-Regular';
  src: url('../fonts/SourceSans3-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    background-color: #fffAEB;
    margin: auto;
    font-family: 'SourceSans-Regular', sans-serif;
}

.cap {
    background-color: #FFBE00;
    margin: 0;
    height: 40vh;
    width: 100vw;
    margin-bottom: -50px;
}  

    #p201 .cap {
        height: 25vh;
    }

    #p2011 .cap {
        height: 25vh;
    }

h2 {
    margin: auto;
    margin-left: 7vw;

    font-size: 20px;
    text-align: left;
    color:#FFF4D1;

    float: left;
    text-shadow: 0 2px 5px grey;

}


                            /*CONTENIDO ENCABEZADO*/



.titol_grups {
    width: 70vw;
    height: 5vh;

    float: left;
    margin-left: 7vw;
    margin-top: 4vh;
    margin-bottom: -3vh;

    text-shadow: 0 1px 2px grey;
}

    #p201 .titol_grups{
        margin-top: 2vh;
    }

    #p2011 .titol_grups{
        margin-top: 2vh;
    }

a {
     text-decoration: none;
     color: inherit;

     font-weight: bold;
}

.progres {
    width: 90vw;
    height: 95px;
    background-color: #FFF4D1;
    border-radius: 30px;
    margin: auto;

    float: left;
    margin-left: 4.8vw;
}

.progres1 {
    width: 35vw;
    height: 30px;
    float: left;
    margin-left: 18px;
    margin-top: 15px;
}

.iconaprogres {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    background-image: url(../img/Iconaprogres.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.titolprogres {
    height: 30px;
    width: auto;
    font-size: 24px;
    font-weight: bold;
}

.nivell {
    text-align: right;
    margin-right: 25px;
    float: right;
    width: 80px;
    font-size: 20;

}

.barranivell {
    width: 80vw;
    height: 20px;
    float: left;
    border-radius: 20px;
    background-color: #ffffff;
    margin-left: 18px;
}

.rellenonivell {
    width: 80%;
    height: 20px;
    border-radius: 20px;
    background-color: #FFBE00;
}











                        /*CONTENIDO CLASES Y QUEDADAS*/









.contingut {
    border-radius: 50px 50px 0 0;
    margin-top: -20px;
    padding-top: 20px;
    width: 100vw;
    text-align: center;
    
}

.contingut {
    background-color: #fffAEB;
    height: 110vh;
 }

 #p3 .contingut {
    background-color: #fffAEB;
    height: 205vh;
 }

 #p4 .contingut {
    height: 120vh;
 }


 #p2 .contingut {
    height: 120vh;
 }

 #p201 .contingut {
    height: 520vh;
 }

 #p2011 .contingut {
    height: 120vh;
 }

.seccio {
    width: 80vw;
    height: 70px;
    border-radius: 22px;
    box-shadow: inset 0px 0px 7px grey;
    margin: auto;
    background-color: #FFBE00;
 }

.selectorseccio ul{
    margin: 0;
    padding: 0;
        
    }

.selectorseccio li{
    width: 24vw;
    height: 50px;
    float: left;
    margin-top: 10px;
    list-style-type: none;
    line-height: 3;
    margin-right: 0px;
    border-radius: 30px;
}

.classes {
    margin-left: -25px;
}


    #p2 .classes {
        border-radius: 15px;
        background: white;
        box-shadow: 0px 0px 10px grey;;
        
    }

    #p3 .temes {
        border-radius: 15px;
        background: white;
        box-shadow: 0px 0px 10px grey;;
    }

    #p4 .trobades {
        border-radius: 15px;
        background: white;
        box-shadow: 0px 0px 10px grey;;
    }


h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    text-shadow: 1px 1px 35px black;
    font-family: kepler-std, serif;
    font-style: normal;
    font-weight: 300;
}



 .converses {
    width: 80vw;
    height: 36vh;
    background-color: #F5C144;
    box-shadow: 0 2px 5px grey, inset 0 0px 2px grey;
    margin: auto;
    margin-top: 5vh;
    margin-left: 10vw;
    border-radius: 50px;
    float: left;
}

    #p201 .converses {
        margin-top: 0vh;
        margin-bottom: 4vh;
    }

    #p2011 .converses {
        margin-top: 0vh;
        margin-bottom: 4vh;
    }

    #p201 .cn5{background-color:#F59543;}
    #p201 .cn6{background-color:#F59543;}
    #p201 .cn7{background-color:#F59543;}
    #p201 .cn8{background-color:#F59543;}
    #p201 .cn9{background-color:#F57343;}
    #p201 .cn10{background-color:#F57343;}
    #p201 .cn11{background-color:#F57343;}
    #p201 .cn12{background-color:#F57343;}


.cc2 {
    filter: grayscale(60%);
}


    .info_conversa {
        width: 90%;
        height: 12vh;
        

        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    .nom_ubi {
        width: 100px;
        height: 30px;
        float: left;
        margin-left: 10px;
        
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;

        line-height: 2;

        color: white;
        text-shadow: 0 2px 5px grey;
    }

            .icona_rellotge {
                width: 9vw;
                height: 5vh;
                float: left;
                margin-right: 1vw;
                
                background-image: url(../img/seccio_inici/icon_duracio.png);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;

            }

            .temps_conversa {
                font-style: normal;
            }

    .nom_dia {
        width: 27vw;
        height: 6vh;
        float: right;
        margin-right: 10px;

        text-align: right;
        font-size: 19px;
        text-shadow: 0 2px 5px grey;
        line-height: 1.5;
        font-style: italic;

        color: white;
    }


    .line_converse {
        height: 1.5px;
        width: 90%;
        margin: auto;
        background-color: #ffffff;

        float: left;

        margin-top: 5vw;
        margin-bottom: 0vw;
        margin-left: 3vw;

        box-shadow: 0 1px 5px grey;;

    }

    .nom_profe {
        width: 20vw;
        height: 4vh;

        margin-left: 10px;
        margin-top: 2.5vh;

        float: left;

        font-size: 22px;
        text-shadow: 0 2px 5px grey;
        color: white;
    }

    .icon_ppl {
        width: 23vw;
        height: 4vh;

        margin-right: 10px;
        margin-top: 2vh;


        background-image: url(../img/seccio_inici/icon_ppl.png);
        background-repeat: no-repeat;
        background-size: 100%;

        float: right;
    }

    .boto_apuntat {
    width: 80%;
    height: 7.5vw;

    float: left;
    margin-left: 8vw;
    margin-top: 1vh;

    border-radius: 50px;
    background-color: #fffAEB;
    box-shadow: 0 2px 5px grey, inset 0 0px 2px grey;

    line-height: 2;
    font-size: 15px;
    font-weight: bold;
}


    .imatge_quedada {
        width: 90%;
        height: 9vh;
        background-color: #fffAEB;
        border-radius: 25px 25px 25px 25px;
        margin: auto;
        margin-top: 2vh;
    }

            #p2 .img1 {
                background-image: url(../img/bcn_arctri.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 0px -40px;
                opacity: 93%;
            }

            #p2 .img2 {
                
                background-image: url(../img/bcn_plaçaesp.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 93%;
            }

            #p4 .imgq1 {
                background-image: url(../img/bcn_batllo.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 93%;
        }

            #p4 .imgq2 {
                background-image: url(../img/bcn_ciutadella.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 93%;
            }

    .icona_nivell {
        width: 10vw;
        height: 3vh;
        margin-top: -0.5vh;
        margin-bottom: 0.5vh;

        border-radius: 40%;
        box-shadow: inset 0 0px 2px grey;
        background-color: rgb(255, 255, 255);

        font-style: normal;
        text-align: center;
        line-height: 1.5;
        font-size: 16px;
        text-shadow: 0px 0px 3px rgb(145, 145, 145);
        color: black;
    }

    .nom_classe {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0px 0px 3px rgb(145, 145, 145);
    line-height: 3.5;
    }


    .mostra_tot {
        width: 14vw;
        height:7vh;
        background-color: #F5C144;
        background-image: url(../img/seccio_recursos/icon_mostratot.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;

        float: right;
        margin-right: 4vw;
        margin-top: 2vh;
        border-radius: 50px;
        box-shadow: 0 1px 3px grey, inset 0 0px 2px grey;;
    }

            #p4 .mostra_tot {background-image: url(../img/seccio_recursos/icon_map.png); background-position: center; background-size: 70%;}

    #p201 .nivell_totes {
        background-color: #FFBE00;
    }

        #p2011 .nivell_a1 {
            background-color: #FFBE00;
        }




    .icona_tornar{
    width: 5vw;
    height: 50px;
    background-image: url(../img/boto_enrere.png);
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    margin-left: 9vw;
    margin-top: 6vh;
}


.nivell_classe {
    width: 80vw;
    height: 20vh;
    margin: auto;
    margin-top: 3vh;
}

.nivelll {
    width: 15vw;
    height: 5vh;
    float: left;
    margin: 2vw;

    line-height: 2.5;
    color: black;
    font-weight: bold;
    font-size: 18px;

    border-radius: 14PX;
    box-shadow: 0 1px 3px grey, inset 0 0px 2px grey;
    background-color: #FFF5D1;
}


    .nivell_totes {
        width: 34vw;
    }













                        /*SECCION TEMAS*/




.categories {
    width: 80vw;
    height: 18vh;
    background-color: #F5C144;
    margin: auto;
    margin-top: 4vh;
    border-radius: 50px;

    box-shadow: 0 1px 5px grey;
}

    .iconacateg {
        width: 40%;
        height: 18vh;
        background-color:#F5C144;
        border-radius: 40px 0 0 40px;
        float: left;

        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
    }

        .icona_cuina {background-image: url(../img/seccio_grups/temes_cuina.png);}
        .icona_esport {background-image: url(../img/seccio_grups/temes_esports.png); background-size: 100%;}
        .icona_menjar {background-image: url(../img/seccio_grups/temes_menjar.png);}
        .icona_cultura {background-image: url(../img/seccio_grups/temes_cultura.png);}
        .icona_feina {background-image: url(../img/seccio_grups/temes_feina.png);}
        .icona_barcelona {background-image: url(../img/seccio_grups/temes_barcelona.png);}
        .icona_musica {background-image: url(../img/seccio_grups/temes_musica.png); background-size: 60%;}
        .icona_viatge {background-image: url(../img/seccio_grups/temes_viatges.png);}


    .descripciocateg {
        width: 57%;
        height: 16vh;
        margin-top: 1vh;
        float: left;
        border-radius: 0 40px 40px 0 ;
        background-color: #ffffff;
    }


        .titol_categ {
            width: 30vw;
            height: 2vh;
            float: left;

            margin-top: 1.5vh;
            margin-left: 2.5vw;

            text-align: left;
            font-weight: bold;
            font-size: 20px;
        }

        .descr_categ {
            width: 30vw;
            height: 7vh;
            float: left;

            margin-top: 1.5vh;
            margin-left: 2.5vw;

            text-align: left;
            font-size: 15px;

            
        }
        

        .flecha_categ {
            width: 10vw;
            height: 5vh;
            float: right;

            background-image: url(../img/seccio_grups/icon_flecha.png);
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center;

            margin-right: 1vw;
            margin-top: 1vh;

            
        }



















/* Barra inferior que va en todas las pantallas 
para navegar*/


.barra {
    width: 100vw;
    height: 22.8vw;
    background-image: url(../img/iconas_barra/fondmenu-grups.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    bottom: -5px;
    left: 0;
    right: 0;
}

.barra ul {
    width: 90.2vw;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    top: 7vw;
}

.barra li {
    width: 14.15vw;
    height: 14.15vw;
    margin: 1vw;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
 

    margin-top: 3.5vh;
}


.barra li a {
    width: 14.15vw;
    height: 14.15vw;
    display: block; 
}


.barra li .pannot a {
    width: 18.6vw;
    height: 18.6vw;
}


/* POSICIONES CONVERTIDAS A RESPONSIVE */

.home {
    background-image: url(../img/home-groc.png);
}

.grups {
    background-image: url(../img/grups-groc.png);
}

.pannot {
    background-image: url(../img/panot-groc.png);
    height: 18.6vw !important;
    width: 18.6vw !important;
    margin-top: 2.6vw !important;
    margin-left: 3.5vw !important;
    margin-right: 3.5vw !important;
    top: -3vw;
}

.recursos {
    background-image: url(../img/recursos-groc.png);
}

.perfil {
    background-image: url(../img/perfil-groc.png);
}
/* LÓGICA PARA LAS OTRAS PÁGINAS (ACTIVOS) */

/* Pagina 2 - Grups */
#p2 .barra { background-image: url(../img/fondmenu-grups.png); }
#p2 .home { background-image: url(../img/home-groc.png); }
#p2 .grups { background-image: url(../img/grups-blanc.png); }

#p201 .grups { background-image: url(../img/grups-blanc.png); }
#p2011 .grups { background-image: url(../img/grups-blanc.png); }
#p3 .grups { background-image: url(../img/grups-blanc.png); }
#p4 .grups { background-image: url(../img/grups-blanc.png); }


/* Pagina 3 - Panot */
#pg3panot .barra { background-image: url(../img/fondmenu-panot.png); }
#pg3panot .home { background-image: url(../img/home-groc.png); }
#pg3panot .pannot { background-image: url(../img/panot-blanc.png); }

/* Pagina 4 - Recursos */
#pg4recursos .barra { background-image: url(../img/fondmenu-recursos.png); }
#pg4recursos .home { background-image: url(../img/home-groc.png); }
#pg4recursos .recursos { background-image: url(../img/recursos-blanc.png); }

/* Pagina 5 - Perfil */
#pg5perfil .barra { background-image: url(../img/fondmenu-perfil.png); }
#pg5perfil .home { background-image: url(../img/home-groc.png); }
#pg5perfil .perfil { background-image: url(../img/perfil-blanc.png); }