body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
  background-color: #fffAEB;}

* {
  position: relative;
  box-sizing: border-box;
}

.sobrecap {
    height: 80px;
}

.cap {
    background-color: #F5C143;
    border-radius: 50px 50px 0 0;
    margin: 0;
    height: 420px;
    width: 100vw;
    z-index: 1;
}        

h2 {
    float: left;
    margin-left: 25px;
    text-align: left;
    width: 80%;

}

h1 {
    float: right;
    margin: 30px;
}

h3 {
    text-shadow: 0px 0px 1.5px grey;
    margin-top: 6px;
    margin-right: 3px;
    text-shadow: 1px 1px 8px grey;
}

.icona_tornar{
    width: 5vw;
    height: 50px;
    background-image: url(../img/boto_enrere.png);
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    margin: 25px;
}

.pannnot {
    width: 60vw;
    height: 450px;
    margin: auto;
    background-image: url(../img/seccio_pannot/pannot_estandar.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 150%;
}

#ppannot2 .pannnot {background-image: url(../img/seccio_pannot/pannot_chica.png);}
#ppannot3 .pannnot {background-image: url(../img/seccio_pannot/pannot_barca.png);}
#ppannot4 .pannnot {background-image: url(../img/seccio_pannot/pannot_hipster.png);}
#ppannot5 .pannnot {background-image: url(../img/seccio_pannot/pannot_cowboy.png);}
#ppannot6 .pannnot {background-image: url(../img/seccio_pannot/pannot_dragon.png);}
#ppannot7 .pannnot {background-image: url(../img/seccio_pannot/pannot_rosa.png);}
#ppannot8 .pannnot {background-image: url(../img/seccio_pannot/pannot_castanera.png);}
#ppannot9 .pannnot {background-image: url(../img/seccio_pannot/pannot_caballero.png);}
                      

.coin {
    width: 70px;
    height: 100px;
    float: right;
    margin-left: 100px;
    margin-right: 15px;
}

.moneda {
    width: 100%;
    height: 70%;
    border-radius: 100%;
    background-image: url(../img/coin.png);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0px 0px 3px grey;
}

.cantidad {
     width: 100%;
     height: 30%;
    text-align: center;
}

.mini_pannots {
    width: 25vw;
    height: 100px;
    background-color: #F5C142;
    float: left;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px grey;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 75%;
}

        .p1{background-image: url(../img/seccio_pannot/pannot_icon_1.png);}
        .p2{background-image: url(../img/seccio_pannot/pannot_icon_2.png);}
        .p3{background-image: url(../img/seccio_pannot/pannot_icon_3.png);}
        .p4{background-image: url(../img/seccio_pannot/pannot_icon_4.png);}
        .p5{background-image: url(../img/seccio_pannot/pannot_icon_5.png);}
        .p6{background-image: url(../img/seccio_pannot/pannot_icon_6.png);}
        .p7{background-image: url(../img/seccio_pannot/pannot_icon_7.png);}
        .p8{background-image: url(../img/seccio_pannot/pannot_icon_8.png);}
        .p9{background-image: url(../img/seccio_pannot/pannot_icon_9.png);}
        
        #ppannot .p1 {opacity: 100%;}
        #ppannot2 .p2 {opacity: 100%;}
        #ppannot3 .p3 {opacity: 100%;}
        #ppannot4 .p4 {opacity: 100%;}
        #ppannot5 .p5 {opacity: 100%;}
        #ppannot6 .p6 {opacity: 100%;}
        #ppannot7 .p7 {opacity: 100%;}
        #ppannot8 .p8 {opacity: 100%;}
        #ppannot9 .p9 {opacity: 100%;}



.contingut {
    border-radius: 50px 50px 0 0;
    margin-top: -40px;
    padding-top: 20px;
    width: 100vw;
    text-align: center;
    position: relative;
    z-index: 2;
    height: 800px;
    
}

.contingut {
    background-color: #fffAEB;
    height: 800px;
 }


.seccio {
    width: 80vw;
    height: 70px;
    border-radius: 40px;
    box-shadow: inset 0px 0px 10px grey;
    margin: auto;
    background-color: #FFBE00;
 }

.selectorseccio ul{
    margin: 0;
    padding: 0;
        
    }

.selectorseccio li{
    width: 24vw;
    height: 50px;
    float: left;
    margin-top: 10px;
    list-style-type: none;
    line-height: 3;
    margin-left: -25px;
    margin-right: 20px;
    border-radius: 30px;
}

/* BARRA MENÚ */

.barra {
  width: 100vw;
  height: 22.8vw;
  background-image: url(../img/fondmenu-panot.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.barra ul {
  width: 90.2vw;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  top: 7vw;
}

.barra li {
  width: 14.15vw;
  height: 14.15vw;
  margin: 1vw;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}

.barra li a {
  width: 14.15vw;
  height: 14.15vw;
  display: block;
}

.barra li .pannot a {
  width: 18.6vw;
  height: 18.6vw;
}

/* ICONS MENU */

.home { background-image: url(../img/home-groc.png);
}

.grups { background-image: url(../img/grups-groc.png);
}

.pannot {
  background-image: url(../img/panot-blanc.png);
  height: 18.6vw !important;
  width: 18.6vw !important;
  margin-left: 3.5vw !important;
  margin-right: 3.5vw !important;
  top: -3vw;
}

.recursos { background-image: url(../img/recursos-groc.png);
}

.perfil { background-image: url(../img/perfil-groc.png);
}

/* VINCULOS PÁGINAS */

#pg2grups .barra { background-image: url(../img/fondmenu-grups.png); }
#pg2grups .home { background-image: url(../img/home-groc.png); }
#pg2grups .grups { background-image: url(../img/grups-blanc.png); }

#pg3panot .barra { background-image: url(../img/fondmenu-panot.png); }
#pg3panot .home { background-image: url(../img/home-groc.png); }
#pg3panot .pannot { background-image: url(../img/panot-blanc.png); }

#pg4recursos .barra { background-image: url(../img/fondmenu-recursos.png); }
#pg4recursos .home { background-image: url(../img/home-groc.png); }
#pg4recursos .recursos { background-image: url(../img/recursos-blanc.png); }

#pg5perfil .barra { background-image: url(../img/fondmenu-perfil.png); }
#pg5perfil .home { background-image: url(../img/home-groc.png); }
#pg5perfil .perfil { background-image: url(../img/perfil-blanc.png); }