/* TIPOGRAFÍAS */

@font-face {
  font-family: 'Kepler';
  src: url('../fonts/KeplerStdBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kepler';
  src: url('../fonts/KeplerStdRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSans-Bold';
  src: url('../fonts/SourceSans3-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSans-Regular';
  src: url('../fonts/SourceSans3-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    background-color: #fffAEB;
    margin: auto;
    height: 100vh;
    max-width: 100%;
    font-family: 'SourceSans-Regular', sans-serif;
    
}

.cap {
    background-color: #FFBE00;
    margin: 0;
    height: 320px;
    width: 100vw;
}

        #p1 .cap {
            background-image: url(../img/bcn_filtre.png);
            background-size: cover;
        }


.contingut {
    border-radius: 50px 50px 0 0;
    margin-top: -50px;
    padding-top: 20px;
    width: 100vw;
    text-align: center;
    background-color: #fffAEB;
}
        

.bienvenida {
    width: 200px;
    height: 100px;
    margin: 20px 30px;

    background-image: url(../img/seccio_inici/icon_bienvenida.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 2px lightgray;
    font-family: 'SourceSans-Regular', sans-serif;
    font-style: normal;
    font-weight: 300;
    }

.lineadiv {
    width: 75vw;
    height: 3px;
    background-color: #FFBE00;
    float: left;
    margin-top: 100px;
    margin-left: 12.5vw;
}

.seccio1{
    width: 100vw;
    height: 41vh;
    float: left;
    margin: auto;

}


    .conversesmenu {
        width: 10vw;
        height: 35vh;
        border-radius: 15%;
        background-color: #F5C144;
        float: left;

        box-shadow: 0 2px 5px grey, inset 0 0px 2px grey;;
    }


    .c2 {
        width: 70vw;
        margin-left: 6vw;
        
    }

    .c1 {
        height: 200px;
        width: 9vw;
        margin-top: 25px;
        border-radius: 0 25px 25px 0%;

        filter: grayscale(50%);
    }

    .c3 {
        height: 200px;
        width: 9vw;
        float: right;
        margin-top: 25px;
        border-radius: 25px 0 0 25px;
        
;
    }

.imatge_quedada {
    width: 90%;
    height: 9vh;
    background-color: #fffAEB;
    border-radius: 25px 25px 25px 25px;
    margin: auto;
    margin-top: 2vh;
}

        .i1 {
            border-radius: 0 25px 25px 0;
            width: 80%;
            margin-left: 0;
        }

        .i2 {
            background-image: url(../img/bcn_arctri.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0px -15px
        }

        .i3 {
            border-radius: 25px 0 0 25px;
            width: 80%;
            margin-right: 0;
        }


.nom_classe {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 3px rgb(145, 145, 145);
    line-height: 3.5;
}

.icona_nivell {
        width: 10vw;
        height: 3vh;
        margin-top: -0.5vh;
        margin-bottom: 0.5vh;

        border-radius: 40%;
        box-shadow: inset 0 0px 2px grey;
        background-color: rgb(255, 255, 255);

        font-style: normal;
        text-align: center;
        line-height: 1.5;
        font-size: 16px;
        text-shadow: 0px 0px 1px rgb(145, 145, 145);
        color: black;
    }

.info_conversa {
    width: 90%;
    height: 12vh;
    

    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

}

    .nom_ubi {
        width: 100px;
        height: 30px;
        float: left;
        margin-left: 10px;
        
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;

        line-height: 2;

        color: white;
        text-shadow: 0 2px 5px grey;
    }

            .icona_rellotge {
                width: 9vw;
                height: 5vh;
                float: left;
                margin-right: 1vw;
                
                background-image: url(../img/seccio_inici/icon_duracio.png);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;

            }

            .temps_conversa {
                font-style: normal;
            }


    .nom_dia {
        width: 27vw;
        height: 6vh;
        float: right;
        margin-right: 10px;

        text-align: right;
        font-size: 19px;
        text-shadow: 0 2px 5px grey;
        line-height: 1.5;
        font-style: italic;

        color: white;
    }


    .line_converse {
        height: 1.5px;
        width: 90%;
        margin: auto;
        background-color: #ffffff;

        float: left;

        margin-top: 5vw;
        margin-bottom: 0vw;
        margin-left: 3vw;

        box-shadow: 0 1px 5px grey;;

    }

    .nom_profe {
        width: 20vw;
        height: 4vh;

        margin-left: 10px;
        margin-top: 2.5vh;

        float: left;

        font-size: 22px;
        text-shadow: 0 2px 5px grey;
        color: white;
    }

    .icon_ppl {
        width: 23vw;
        height: 4vh;

        margin-right: 10px;
        margin-top: 2vh;


        background-image: url(../img/seccio_inici/icon_ppl.png);
        background-repeat: no-repeat;
        background-size: 100%;

        float: right;
    }

.boto_apuntat {
    width: 80%;
    height: 7.5vw;

    float: left;
    margin-left: 6.5vw;
    margin-top: 1vh;

    border-radius: 50px;
    background-color: #fffAEB;
    box-shadow: 0 2px 5px grey, inset 0 0px 2px grey;

    line-height: 2;
    font-size: 15px;
    font-weight: bold;
}


        
.seccio2{
    width: 100vw;
    float: left;
}

    .jocmenu {
        width: 300px;
        height: 150px;
        background-color: purple;
        border-radius: 70px;
        margin: auto;
        margin-bottom: 30px;
    }


    .icona_joc {
    width: 40vw;
    height: 150px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

    .converses {
    width: 80vw;
    height: 150px;
    background-color: #F5C144;
    box-shadow: 0 2px 5px grey, inset 0 0px 2px grey;
    margin: auto;
    margin-top: 40px;
    margin-left: 10%;
    border-radius: 50px;
    float: left;
}


    .titol_joc {
            width: 100px;
            height: 50px;

            float: left;
            margin-top: 11vw;
            margin-left: 6.5vw;

            
            font-size: 22px;
            font-weight: bold;
            

            text-shadow: 0px 0px 10px grey, 0px 0px 10px grey;

            opacity: 90%;
            color: #ffffff;
    }


     .sopa {background-image: url(../img/seccio_recursos/icon_joc_sopa.png);}
    .segons {background-image: url(../img/seccio_recursos/icon_joc_segons.png);}

.seccio3{
    width: 100vw;
    height: 1400px;
    float: left;
}

        .multimedia {
            width: 80vw;
            height: 300px;
            margin: auto;
            margin-top: 50px;

            background-color: #F5C144;
            border-radius: 15px 15px 15px 15px;
            box-shadow: 0 2px 5px grey, inset 0 0px 2px grey;;
        }

        .iconamultimedia {
            width: 100%;
            height: 185px;
            border-radius: 15px 15px 0px 0px;
            background-color: purple;
            margin: 0;
        }

                .podcast {
                    background-image: url(../img/seccio_inici/podcast_img.png);
                    background-repeat: no-repeat;
                    background-size: 105%;
                    background-position: center;
                }

                .instagram {
                    background-image: url(../img/seccio_inici/instagram_img.png);
                    background-repeat: no-repeat;
                    background-size: 105%;
                    background-position: center;
                }

                .youtube {
                    background-image: url(../img/seccio_inici/youtube_img.png);
                    background-repeat: no-repeat;
                    background-size: 105%;
                    background-position: center;
                    
                }

        .textmultimedia {
            width: 100%;
            height: 100px;
            

            text-align: left;
        }

                .titol_plat {
                    font-weight: bold;
                    font-size: 19px;

                    margin-top: 10px;
                    margin-left: 5px;

                }

                .descr_plat {
                    font-size: 15px;

                    margin-top: 8px;
                    margin-left: 5px;
                }


.botomes{
    width: 80px;
    height: 40px;
    background-color: #F5C144;
    border-radius: 50px;
    float: right;
    margin-right: 50px;
    margin-top: 50px;

    line-height: 2;
    text-shadow: 0px 0px 10px grey;
    color: white;
    font-size: 20px;
    font-weight: bold;

    box-shadow: 0 2px 5px grey, inset 0 0px 2px grey;;
}


        .b1 {
            
        }

        .b2 {

        }

        .b3 {

        }










.barra {
    width: 100vw;
    height: 22.8vw;
    background-image: url(../img/iconas_barra/fondmenu-home.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    bottom: -5px;
    left: 0;
    right: 0;
}

.barra ul {
    width: 90.2vw;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    top: 7vw;
}

.barra li {
    width: 14.15vw;
    height: 14.15vw;
    margin: 1vw;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
 

    margin-top: 3.5vh;
}


.barra li a {
    width: 14.15vw;
    height: 14.15vw;
    display: block; 
}


.barra li .pannot a {
    width: 18.6vw;
    height: 18.6vw;
}

/* POSICIONES CONVERTIDAS A RESPONSIVE */

.home {
    background-image: url(../img/iconas_barra/home-blanc.png);
}

.grups {
    background-image: url(../img/iconas_barra/grups-groc.png);
}

.pannot {
    background-image: url(../img/iconas_barra/panot-groc.png);

    height: 18.6vw !important;
    width: 18.6vw !important;
    margin-top: 2.6vw !important;
    margin-left: 3.5vw !important;
    margin-right: 3.5vw !important;
    top: -3vw;
}

.recursos {
    background-image: url(../img/iconas_barra/recursos-groc.png);
}

.perfil {
    background-image: url(../img/iconas_barra/perfil-groc.png);
}

/* LÓGICA PARA LAS OTRAS PÁGINAS (ACTIVOS) */

/* Pagina 2 - Grups */
#pg2grups .barra { background-image: url(../img/iconas_barra/fondmenu-grups.png); }
#pg2grups .home { background-image: url(../img/iconas_barra/home-groc.png); }
#pg2grups .grups { background-image: url(../img/iconas_barra/grups-blanc.png); }

/* Pagina 3 - Panot */
#pg3panot .barra { background-image: url(../img/iconas_barra/fondmenu-panot.png); }
#pg3panot .home { background-image: url(../img/iconas_barra/home-groc.png); }
#pg3panot .pannot { background-image: url(../img/iconas_barra/panot-blanc.png); }

/* Pagina 4 - Recursos */
#pg4recursos .barra { background-image: url(../img/iconas_barra/fondmenu-recursos.png); }
#pg4recursos .home { background-image: url(../img/iconas_barra/home-groc.png); }
#pg4recursos .recursos { background-image: url(../img/iconas_barra/recursos-blanc.png); }

/* Pagina 5 - Perfil */
#pg5perfil .barra { background-image: url(../img/iconas_barra/fondmenu-perfil.png); }
#pg5perfil .home { background-image: url(../img/iconas_barra/home-groc.png); }
#pg5perfil .perfil { background-image: url(../img/iconas_barra/perfil-blanc.png); }
